@{
    ViewBag.Title = "Music On Hold Admin";
}
@section AddToHead
{
    <script src="@Url.Content("~/Javascript/DynamicTable/dynamicTable.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Javascript/DynamicTable/dynamicColumn.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Javascript/Modal Interfaces/modalDialog.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Javascript/Modal Interfaces/picker.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Javascript/Modal Interfaces/pickerTabFactory.js")" type="text/javascript"> </script>
    <link href="@Url.Content("~/Content/TabbedModalPopup.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/datePicker.css")" rel="stylesheet" type="text/css" />
}

<script type="text/javascript">
    $(document).ready(function() {

        window.SetCurrentPage("MusicOnHold");

        var tableConfig = {
            table: $("#musicOnHold"),
            source: "MusicOnHoldData",
            columnTypes: [idColumn(),
                editTextColumn(),
                dropdownColumn(['play-wav']),
                dropdownColumn(['yes', 'no']),
                dropdownColumn(['yes', 'no']),
                editColumn(),
                deleteColumn()],
            getString: function(inputs) {
                return "id=" + encodeURI(inputs[0]) + "&name=" + encodeURI(inputs[1]) + "&application=" + encodeURI(inputs[2]) + "&sort=" + encodeURI(inputs[3]) + "&random=" + encodeURI(inputs[4]);

            }
        };
        dynamicTable(tableConfig);
        $('#sipDefaults_addItem').hide();
    });
</script>


<div class='description' style="margin-bottom: -10px">
    <p>
        Some description about MOH...</p>
</div>

<br />
<br />
<table id="musicOnHold">
    <thead>
        <tr>
            <th style="display: none;">
            </th>
            <th>
                Name</th>
            <th>
                Application</th>
            <th>
                Sort</th>
            <th>
                Random</th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>